<div class="console">
  <h3>
    Update Points
  </h3>
  <form method="POST" action="/update/points">
    <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
    <input type="submit" value="Exectue">
  </form>

  <h3>
    Update Goals this Month
  </h3>
  <form method="POST" action="/update/goals">
    <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
    <input type="submit" value="Exectue">
  </form>

  <h3>
    Update Avatars File
  </h3>
  <form method="POST" action="/update/avatar_list">
    <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
    <input type="submit" value="Exectue">
  </form>

  <h3>
    Avatar List
  </h3>
  <p>
    <% @avatar_list.each do |avatar| %>
      <%= avatar %><br>
    <% end %>
  </p>
</div>