<!-- <div class="header-links">
  <div class="line">
    <a href="/fixtures">
      <span class="column-header">
       FIXTURES &nbsp | &nbsp
      </span>
    </a>
    <a href="/sidebets">
      <span class="column-header">
       SIDE BETS
      </span>
    </a>
  </div>
</div> -->

<% @owners.each_with_index do |owner, index| %>

  <%= render partial: "owner_data", locals: { owner: owner, index: index }  %>

<% end %>

<div class="headline">
  <p>

  </p>
  <p>
    * All times are appropriate for your location.
  </p>
  <p>
    <% if @incomplete_fixtures.any? %>
      <p>
        <strong>Updates Pending:</strong>
      </p>
    <% end %>
    <% @incomplete_fixtures.each do |fixture| %>
      <%= fixture.home_club.name %> v. <%= fixture.away_club.name %> (<%= fixture.date.strftime('%a, %b %e') %>)<br>
    <% end %>
  </p>
  <p class="footer">
    ..........
  </p>
</div>



