
<div class="headline">
  <p>
    * Until further notice, please consult a schedule for playing times and dates. These dates only refernce the MATCHWEEK DATE; exact dates are not yet available on the data service.
  </p>
</div>

<% @owners.each do |owner| %>
  <div class="owner-section">

    <div class="left-wrapper">
      <div class="owner-name">
        <%= owner.name %>
      </div>
      <div class="point-data">
        <%= owner.points %> POINTS
      </div>
      <div class="profile-pic">
        <img class="profile" src="/assets/leo.jpg">
      </div>
    </div>

    <% if owner.clubs.any? %>

      <div class="club-area">
        <% owner.clubs.each do |club| %>

            <%= render partial: "club_data", locals: { club: club } %>

        <% end %>
      </div>

    <% end %>

  </div>
<% end %>


<p class="footer">
  ..........
</p>

