
<% @owners.each do |owner| %>
  <div class="owner-section">

    <div class="left-wrapper">
      <div class="owner-name">
        <%= owner.name %>
      </div>
      <div class="point-data">
        <%= owner.points %> POINTS
      </div>
      <div class="profile-pic">
        <% if owner.name == "Brad" %>
          <img class="profile" src="/assets/brad.jpg">
        <% else %>
          <img class="profile" src="/assets/leo.jpg">
        <% end %>
      </div>
    </div>

    <% if owner.clubs.any? %>

      <div class="club-area">
        <% owner.clubs.each do |club| %>

            <%= render partial: "club_data", locals: { club: club } %>

        <% end %>
      </div>

    <% end %>

  </div>
<% end %>

<div class="headline">
  <p>
    * Until further notice, please consult a schedule for playing times and dates. These dates only reference the MATCHWEEK DATE; exact dates are not yet available on the data service. - Eric
  </p>
</div>

<p class="footer">
  ..........
</p>

