
<%
# apparently, 'reverse!' benchmarks as the fastest method here
  owners_ranked_by_points = @owners.sort_by { |owner| owner.points }.reverse!
  owners_ranked_by_points.each do |owner|

%>

  <%= render partial: "owner_data", locals: { owner: owner }  %>

<% end %>

<div class="headline">
  <p>
    * All times are appropriate for your location.
  </p>
</div>

<p class="footer">
  ..........
</p>

