<% @owners.each_with_index do |owner, index| %>

  <%= render partial: "owner_data", locals: { owner: owner, index: index }  %>

<% end %>

<div class="headline">
  <p>
    * All times are appropriate for your location.
  </p>
</div>

<p class="footer">
  ..........
</p>

