<!-- <div class="header-links">
  <div class="line">
    <a href="/fixtures">
      <span class="column-header">
       FIXTURES &nbsp | &nbsp
      </span>
    </a>
    <a href="/sidebets">
      <span class="column-header">
       SIDE BETS
      </span>
    </a>
  </div>
</div> -->

<% @owners.each_with_index do |owner, index| %>

  <%= render partial: "owner_data", locals: { owner: owner, index: index }  %>

<% end %>

<div class="headline">
  <p>

  </p>
  <p>
    * All times are appropriate for your location.
  </p>
  <p class="footer">
    ..........
  </p>
</div>



