/*div.fixtures-main {
  text-align:;
}*/

div.fixtures-outer {
  text-align: center;
}

div.fixtures-inner {
  margin-top: 1em;
  padding-bottom: 2em;
}

span.column-header {
  font-size: 1.3em;
  font-weight: bold;
}

div.fixtures-club-info {
  width: 39%;
  text-align: center;
  display: inline-block;
  padding-top: 0.3em;
  padding-bottom: 0.2em;
  /*padding: 0.5em;*/
}

div.fixtures-names {
  display: inline-block;
  margin-top: 0.5em;
  vertical-align: top;
  width: 10em;
  text-align: center;
}

div.fixtures-date {
  display: inline-block;
  width: 7em;
  margin-top: 1em;
  vertical-align: top;
  text-align: center;
}

div.footer {
  height: 3em;
}

div.line {
  margin: auto;
  padding-top: 1em;
  padding-bottom: 1em;
  width: 50%;
  border-top: 1px dotted #000;
  text-align: center;
  /*border-bottom: 1px dotted #000;*/
}

div.mini-profile {
  display: inline-block;
  height: 3em;
  width: 5em;
}

span.fixtures-owner-name {
  font-weight: bold;
}

span.belt {
  color: #FFF;
  /*background-color: #551A8B;*/
  background-color: #000;
  font-weight: bold;
/*  padding: 0.2em;*/
}

span.sub-belt {
  font-weight: bold;
}

span.purple {
}

img.mini-profile {
  height: 3em;
  max-width: 5em;
}

img.mini-crest {
  height: 3em;
  width: 3em;
}

.gray {
  background-color: #D3D3D3;
}

/*div {
  border: 1px dotted red;
}*/