div.dashboard-inner {
  margin: auto;
  width: 90%;
}

div.dashboard {
  border-left: 10px solid silver;
  border-right: 10px solid silver;
  display: none;
  margin-bottom: 2em;
}

div.show-dashboard-button {
  margin-top: 1em;
  margin-bottom: 1em;
  text-align: center;
}

div.change-avatar {
  display: inline-block;
  padding-left: 1em;
  padding-right: 0.5em;
  text-align: center;
  width: 30%;
}

div.change-avatar-form {
  visibility: hidden;
}

div.schedule-wrapper {
    display: inline-block;
    vertical-align: top;
    width: 63%;
}

div.schedule {
  margin: auto;
  text-align: center;
  width: 75%;
}

div.dashboard-loading {
  color: #808080;
  display: none;
}

div.dashboard-fixtures {
  margin-top: 2em;
  border-left: 1px dotted #000;
  border-right: 1px dotted #000;
  display: none;
}

button, input[type=submit] {
  border: 0px;
  font-size: 1em;
  font-weight: normal;
  font-family: Helvetica, Arial, sans-serif;
  padding: 0.5em;
  border-radius: 3px;
}

button.show-dashboard {
  color: #FFF;
  background-color: #2952A3;
}

input[type=submit] {
  color: #FFF;
  background-color: #939393;
}

input[type=text] {
  height: 2em;
  width: 15em;
  border: 1px solid silver;
}

/*div {
  border: 1px dotted red;
}*/
