div.dashboard-inner {
  margin: auto;
  width: 80%;
}

div.dashboard {
  border-left: 10px solid silver;
  border-right: 10px solid silver;
  /*display: none;*/
}

div.show-dashboard-button {
  margin-top: 1em;
  margin-bottom: 1em;
  text-align: center;
}

div.change-avatar {
  display: inline-block;
  padding: 1em;
  text-align: center;
}

div.change-avatar-form {
  visibility: hidden;
}

div.schedule {
  display: inline-block;
  margin-left: 2em;
  margin-right: 2em;
  vertical-align: top;
  text-align: center;
  width: 60%;
}

button, input[type=submit] {
  border: 0px;
  font-size: 1em;
  font-weight: normal;
  font-family: Helvetica, Arial, sans-serif;
  padding: 0.5em;
  border-radius: 3px;
}

button.show-dashboard {
  color: #FFF;
  background-color: #2952A3;
}

input[type=submit] {
  color: #FFF;
  background-color: #939393;
}

input[type=text] {
  height: 2em;
  width: 15em;
  border: 1px solid silver;
}

/*div {
  border: 1px dotted red;
}*/
