div.sidebets-outer {
  text-align: center;
  margin-top: 1em;
}

div.sidebets-inner {
  width: 90%;
  margin: auto;
  margin-top: 1em;
  padding-bottom: 2em;
}

div.sidebets-column {
  display: inline-block;
  width: 40%;
}

div.right-column {
  margin-left: 2em;
  vertical-align: top;
}

div.sidebets-owners-wrapper {
  margin-top: 1em;
  padding: 0.5em;
  border-top: 1px dotted #000;
}

div.sidebets-owner {
  padding: 0.3em;
  text-align: left;
}
div.sidebets-rank, div.sidebets-number {
  display: inline-block;
  font-size: 1.2em;
  font-weight: bold;
  width: 15%;
}

div.sidebets-number {
  color: #FFF;
  background-color: #404040;
  text-align: center;
}

div.sidebets-name {
  display: inline-block;
  text-align: center;
  font-weight: normal;
  font-style: italic;
  width: 65%;
}

/*div, span {
  border: 1px dotted red;
}*/

div.heads-hidden {
  font-weight: normal !important;
  text-align: center;
  display: none;
}

div.head-listing {
  padding: 0.3em;
/*  border-left: 1px dotted #000;
  border-right: 1px dotted #000;*/
}

img.medium-image {
  height: 2em;
  vertical-align: -0.3em;
}

span.medium-text {
  font-size: 2em;
  font-weight: bold;
}

.highlight {
  background-color: #FFFF99 !important;
}
